/*css reset to override any automatic browser styles*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*background color for the whole website*/
body {
    background-color: #d9dcd6;
}

/*style for the title and nav bar*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*affecting the title "Horiseon"*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*changing the color of the span in the title*/
.header h1 .seo {
    color: #d9dcd6;
}

/*how and where to display the nav bar(size, font, and to the right side)*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*gets rid of the bullet points on the nav bar items*/
.header nav ul {
    list-style-type: none;
}

/*display the nav bar list in a row and not a column*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*nav bar items text is white*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*all text other than header and footer items is smaller at 16px*/
p {
    font-size: 16px;
}

/*main image sizing info*/
.picture {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*causes the image to be displayed left of the text*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*causes the image to be displayed right of the text*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*causes the content boxes to take up 75% of the width of the page*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*causes the content boxes to take up the remaining 25% of the width of the page on the right side*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*consolidated benefit lead, brand, and cost into one class of benefit-lbc*/
.benefit-lbc {
    margin-bottom: 32px;
    color: #ffffff;
}

/*consolidated benefit lead, brand, and cost into one class of benefit-lbc h3*/
.benefit-lbc h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*consolidated benefit lead, brand, and cost into one class of benefit-lbc img*/
.benefit-lbc img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* seo class that tells the nav bar where to scroll to*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* orp class that tells the nav bar where to scroll to*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* smm class that tells the nav bar where to scroll to*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*sets the size for the image in the seo section*/
.search-engine-optimization img {
    max-height: 200px;
}

/*sets the size for the image in the orm section*/
.online-reputation-management img {
    max-height: 200px;
}

/*sets the size for the image in the smm section*/
.social-media-marketing img {
    max-height: 200px;
}

/*h2s inside seo*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*h2s inside orm*/
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*h2s inside smm*/
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*style for footer including font, centering, ect*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*smaller size for copyright info at the very bottom of the screen*/
.footer h2 {
    font-size: 20px;
}